/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 100%;
   
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-right:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
   width:85%;
   
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 300px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 10px;
        margin: 0 auto;
    }
    .body-content {
        padding: 0;
        margin-top:5px;
    }
}
#wrap
{
    margin-top:2px;
    margin-left:12px;
    margin-right:12px;
     /*background: url("/img/p6_@2X.png") repeat;*/  
}

.carousel-inner img {
  width: 100%;
  height: 300px;
  max-height: 300px;
}

#header
{
   
    float:right;
}
#loginhead 
{
    margin-top: 0px;
margin-bottom: 4px;
margin-right: 0px;
color: #808184;


}
.align-center
{
     margin: 0 auto; 
}


.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}